.appNav{
    background-color: black;
    padding:10px;
}
.toggleButtonNav>label.btn {
  font-size: 2em !important;
  border-radius: 10px;
  background-color: black;
  color:white;
  border: 2px solid white;
  box-shadow: none;
  
}
.toggleButtonNav>label.btn.active,.toggleButtonNav>label.btn.active:hover  {
  background-color: white;
  color:black;
  border: 2px solid white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: black;
    border-color:black;
    box-shadow: none;
}
.menuButton, .addButton{   
    position: relative;
    padding: 20px 23px;
    margin-top: 2%;
    margin-right: 0px;
    margin-bottom: 1px;
    background-color: transparent;
    background-image: none;
    border-color: black;
    border:0px;
    margin-left: 20px;
}
.menuButton, .menuButton.active, .menuButton:active, .menuButton:hover, .menuButton:focus {
    float:left;
    background:url('../icons/hamburger_icon.png')no-repeat;
}
.addButton, .addButton.active, .addButton:active, .addButton:hover, .addButton:focus {
    float: right;
    background:url('../icons/plus_icon.png') no-repeat;
}
.trendingSection {
    position: fixed;
    z-index: 3;
    background-image: url(../images/testimonial-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    margin-top: 12%;
    color:white;
}
.toggleButtonNav {
    padding-top: 1%;
    padding-left: 23%;
    margin-bottom: 1%;
}

.eventsSection {
    margin-top: 73%;
    background-color: black;
}

.eventsSection img{
    width: 100%; 
    border-radius: 3%;
}

.imageDiv{
   position: relative; 
   width: 100%; /* for IE 6 */
}

.textOnImage { 
   position: absolute; 
   top: -20px; 
   color: white; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.5);
   padding: 5%;
   width:95.5%; 
}
.dateText{
    padding-right:3%;
    border-right: 2px solid white;
}
.eventNameText {
    padding-left: 3%;
}

.eachEventContainer {
    margin-bottom: 5%;
}

.eachDayContainer {
    color: blue;
    text-align: center;
    font-size: 3em;
    position: fixed;
    margin-top: 62%;
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: black;
}
.textBWLines {
  position: relative;
  text-align: center;
}

.textBWLines span {
  background: black;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.textBWLines:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}
.textBWLines:before {
  left: 0;
}

